.info__container {
  width: 50%;
  margin: 0 auto;
  z-index: 2;
  margin-top: 35px;
  position: relative;
  background-color: #181818;
  color: #fff;
  border-radius: 10px;
  .info__content {
    width: 100%;
    .info__content--top {
      width: 100%;
      img {
        width: 100%;
        height: 70vh;
        border-radius: 10px;
      }
    }

    .info__content--bottom {
      display: flex;
      .info__content--bottom--left {
        width: 70%;
        padding: 20px;
        .info__content--bottom--left--top {
          height: 45%;
          .info__movie--top {
            .year__movie {
              padding: 7px;
            }
            .length__movie {
              padding: 7px;
            }
            .quality__movie {
              padding: 7px;
            }
          }
        }
        .info__content--bottom--left--bottom {
          height: 55%;
          .info__movie--bottom {
            .movie__ontop {
              font-size: 20px;
            }
            .movie__summary {
              padding-top: 5px;
              font-size: 10px;
              font-family: Arial, Helvetica, sans-serif;
              font-weight: bold;
              background-color: black;
            }
          }
        }
      }
      .info__content--bottom--right {
        width: 30%;
        padding: 20px;
        .movie__cast {
          height: 30%;
        }
        .movie__genres {
          height: 30%;
        }
        .movie__about {
          height: 30%;
        }
      }
    }
  }
}
