.episode--item {
  display: flex;
  margin-bottom: 1px;
  padding: 1rem;
  box-shadow: 0 0.5px 0 #ccc;
  align-items: center;

  .episode__item_number {
    font-weight: bold;
    font-size: 1.3rem;
  }
  .episode__item_img {
    padding: 16px 0;
    margin: 0 1rem;
    img {
      min-width: 150px;
      max-height: 70px;
      border: 0.5px solid #ccc;
    }
  }

  .episode--item-content {
    display: flex;
    flex-direction: column;
    .episode--item-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .episode--item-title {
        font-size: 0.8rem;
        font-weight: 600;
        margin-right: 0.5rem;
        color: #46d369;
      }
      .episode--item-duration {
        font-size: 0.8rem;
        font-weight: bold;
        padding-right: 16px;
      }
    }
    .episode--item-text {
      margin: 0.3rem 0;
      padding-right: 16px;
      font-size: 0.8rem;
      color: #ccc;
    }
  }
}
