.comment--item {
  display: flex;
  box-shadow: 0 0.5px 0px #ccc;
  padding: 8px 16px 8px 16px;
  margin-bottom: 1px;
  img {
    width: 50px;
    height: 50px;
    margin-right: 1rem;
  }
  .comment--item-content {
    display: flex;
    flex-direction: column;
    .comment--item-name {
      font-weight: bold;
      font-size: 0.8rem;
      color: #e79427;
    }
    .comment--item-footer {
      display: flex;
      align-items: center;
      .comment--item-quote {
        font-size: 0.7rem;
        color: #e79427;
        margin-right: 8px;
      }
      .comment--item-date {
        font-size: 0.6rem;
        color: #888;
      }
    }
    .comment--item-text {
      margin: 0.2rem 0;
      font-size: 0.8rem;
    }
  }
}
