.write_comment {
  padding: 16px;
  display: flex;
  align-items: center;
  width: 100%;
  box-shadow: 0 0.5px 0px #ccc;
  margin-bottom: 1px;
  img {
    height: 50px;
    width: 50px;
    margin-right: 0.8rem;
    border: 0.5px solid #fff;
  }
  .write_comment__form {
    display: flex;
    width: 100%;

    .write_comment__form__input {
      flex: 1;
      margin-right: 10px;
      padding: 10px;
      border: 1px solid #e1e4e8;
      border-radius: 3px;
      background-color: #fff;
      font-size: 14px;
      outline: none;
    }
    .write_comment__form__button {
      padding: 10px 20px;
      border-radius: 3px;
      background-color: #e79427;
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;
    }
  }
}
