.tab {
  display: flex;
  .tab--item {
    flex: 1;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #e1e4e8;
    cursor: pointer;
    &:hover {
      background-color: #f6f8fa;
    }
    &.active {
      border-bottom: 1px solid #0366d6;
      color: #0366d6;
      font-weight: 600;
    }
  }
}
